@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 0;

  margin: 2% 3% 0 10%;
}

nav {
  display: flex;
  color: #4f545d;
  justify-content: space-between;

  align-items: center;
}
.logo img {
  width: 100%;
  min-width: 40%;
}
.nav-items {
  margin: 0 5%;
  padding: 0;
  min-width: 35em;
  width: 46em;
  /* max-width: 55em; */
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;

  font-size: medium;
}

nav ul li {
  margin: 0 20px 0 0px;
}
.nav-items ul li {
  color: #2c333c;
  font-weight: 600;
}

nav ul .signup-btn {
  padding: 5px 15px;
  border: 1px solid #2c333c;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
  background-color: white;
}
nav ul .signup-btn:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}

nav ul .language-dropdown {
  position: relative;
  padding: 8px 15px;
  cursor: pointer;
}

nav ul .language-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav ul .language-dropdown:hover .dropdown-content {
  display: block;
}

nav ul .language-dropdown .dropdown-content li {
  padding: 10px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav ul .language-dropdown .dropdown-content li:last-child {
  border-bottom: none;
}
main {
  display: flex;
  margin-bottom: 75px;
  justify-content: space-around;
  /* margin: 0px 10% 0px 10%; */
  align-items: center;
}

.landing-left-section {
  flex: 1;
}

.landing-right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* max-width: 35%; */
}
.landing-right-section img {
  max-width: 110%;
  margin-right: 30px;
}
main div h4 {
  margin-top: 0%;
  margin-bottom: 4%;
  color: #e27660;
  font-weight: 500;
  font-size: large;
}
main div h1 {
  font-size: 500%;
  line-height: 1.1;
  font-weight: 800;
  color: #181e4b;
  margin-top: 3%;
  margin-bottom: 5%;
}
main div p {
  color: #6b6e8c;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 7%;
}
.cta-button {
  display: block;
  margin-top: 15px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 5px 30px #f1a50169;
  font-size: medium;
  font-weight: 500;
  background-color: #f1a501;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ca9804;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0px;
  max-width: 100%;
}

.category {
  font-size: large;
  font-weight: 600;
  color: #5e6282;
}

.category-content {
  font-size: large;
  flex-grow: 1;
  font-size: 300%;
  font-weight: 500;
  color: #14183e;
}
.category div {
  margin-right: 0%;
  padding: 0%;
  max-width: 100%;
}
.category img {
  position: absolute;
  transform: translate(610px, 20%);
}

.services-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  width: 17%;
  border-radius: 8px;
  padding-bottom: 20px;
  overflow: hidden;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.service-card .card-img {
  height: auto;
  width: auto;
  margin: auto;
}

.service-card .card-content {
  padding: 10px;
  text-align: center;
}

.service-card .card-content h2 {
  font-size: larger;
  margin: 10px 0;
  color: #252452;
  font-weight: 600;
}

.service-card .card-content p {
  color: #616585;
  text-align: center;
  width: 90%;
  font-weight: 400;
  margin: auto;
}

.service-card:hover {
  box-shadow: 5px 20px 20px #f6f5f2;
  border-radius: 20px;
  transform: translateY(-5px);
  z-index: 1;
}
.top-selling .selling-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-selling .selling-header div h4 {
  margin-bottom: 0%;
  color: #646886;
  font-weight: 600;
  font-size: large;
  margin-right: 40px;
}
.top-selling .selling-header div h1 {
  font-weight: 500;
  font-size: 300%;
  color: #14183e;
  margin-top: 8px;
}
.top-selling-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-bottom: 15%;
}

.top-selling-card {
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  position: relative;
  color: #646886;
  z-index: 1;
  line-height: 1;
}

.card-img img {
  width: 100%;
  height: auto;
}

.destination-details,
.trip-days {
  padding: 10px 10px 0 10px;
}
.trip-days p {
  font-weight: 500;
  padding-top: 10px;
  padding-left: 10px;
}

.trip-days img {
  margin-right: 5px;
  width: 23px;
}
.destination-details {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.destination-details p {
  font-weight: 500;
  font-size: large;
  margin: 0;
}
.trip-days {
  display: flex;
  align-items: center;
  padding: 0px;
  padding-left: 25px;
}

.left .book-trip-title p {
  color: #5e6282;
  font-weight: 600;
  font-size: large;
}
.slogan p {
  font-size: 300%;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0%;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}
.book-trip {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trip-content {
  max-width: 50%;
  margin-left: 8px;
  color: #787c96;
}
.para {
  font-size: medium;
  font-weight: 300;
}
.right .top-selling-card {
  box-shadow: 10px -10px 50px #d6d4fb77;
}
.option img {
  margin-right: 10px;
  width: 7%;
}
.map {
  width: 25%;
}

.option h4 {
  margin-bottom: 0px;
  /* font-weight:  200px; */
  margin-top: 3%;
  color: #5e6282;
}
.trip-content p {
  font-weight: 500;
  margin-top: 2px;
}

.card-texts {
  margin-left: 25px;
}
.right .top-selling-card .card-img {
  padding: 5%;
  padding-bottom: 0;
  margin: 0 3px 0 3px;
}
.card-texts h3 {
  color: #1b1b1b;
  font-size: large;
  font-weight: 500;
  margin-bottom: 6px;
}
.like {
  margin-left: 30%;
  width: 5%;
}

.card-texts .destination-details {
  padding-left: 0px;
}
.card-texts .destination-details p {
  padding-left: 3px;
  font-weight: 500;
  color: #8b8ea5;
  font-size: medium;
}
.icons {
  margin-top: 20px;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.card-texts .trip-days {
  font-weight: 100;
  color: #8b8ea5;
  padding-left: 8px;
  margin-bottom: 10px;
}
.overhead-banner {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: -7em;
  left: 11.7em;
}

.card {
  display: flex;
  width: 74%; /* Adjust max-width as needed */
  background-color: white;
  box-shadow: 40px 0px 20px rgba(92, 89, 89, 0.037);
  border-radius: 10px;
  overflow: hidden;
}

.aside-image {
  /* flex: 1; */
  /* padding: 20px; */
  width: 20%;
  margin-top: 16px;
  margin-left: 10px;
}

.aside-image img {
  width: 100%;
  height: auto;
}

.aside-text {
  flex: 1;
  padding-left: 10px;
  padding-right: 20px;
  width: 80%;
}

/* Additional styling if needed */
.aside-text h6 {
  color: #8b8ea5;
  font-weight: 600;
  font-size: small;
  margin: 0;
}
.aside-text h4 {
  font-weight: 600;
}

.progress-line {
  width: 100%;
  height: 5px;
  background-color: #f5f5f5; /* Set the background color of the uncompleted bar */
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.completed-bar {
  height: 100%;
  width: 40%;
  background-color: #8a79df;
  border-radius: 5px;
}

.right {
  position: relative;
  margin-right: 120px;
}
.right .top-selling-card {
  margin-top: 60px;
}

/* subscrivebe */
.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe {
  margin-top: 100px;
  position: relative;
  background-color: #f9f7fe;
  overflow: hidden;
  border-radius: 80px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding-bottom: 6%;
  padding-top: 3%;
}
.rings img {
  width: 37vh;
  height: auto;
  opacity: 0.2;
}
.rings {
  position: absolute;
  top: 11em;
  left: 1em;
}
.right-r img {
  width: 30vh;
  height: auto;
  opacity: 0.2;
  transform: rotate(270deg);
}
.right-r {
  position: absolute;
  top: 1em;
  left: 57em;
}
.sub-container {
  position: relative;
}
.telegram {
  position: absolute;
  top: 5em;
  right: 7em;
  z-index: 1;
}
.telegram img {
  width: 70%;
}

.subscribe .heading {
  padding: 20px;
  font-weight: 600;
  font-size: xx-large;
  color: #5e6282;
  text-align: center;
  margin: 25px 0px 25px 0px;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 2%;
  z-index: 1;
}
.email div img {
  width: 7%;
}
.ongoing {
  margin-top: 20px;
  font-weight: 500;
}
.rome-trip {
  margin: 0%;
}

.email .email-type {
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  width: 60%;
  padding-top: 4%;
  font-weight: 800;
  padding-left: 4%;
  padding-bottom: 4%;
}
input::placeholder {
  font-weight: 500;
}
input {
  padding-left: 8px;
  border: 0px solid;
}
input :focus {
  outline: none;
}

.Subscribe-btn {
  padding: 5px 10px;
  border: 2px solid #ff8c6b;
  background-color: #ff8c6b;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: small;
  padding: 12px;
  padding-left: 7%;
  padding-right: 7%;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.Subscribe-btn:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-top: 10%;
  padding-left: 9%;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.footer h1 {
  margin-bottom: 20px;
  font-weight: 500;
}
.footer p {
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: small;
  color: #757894;
  margin-bottom: 70px;
}
.about a {
  text-decoration: none;
  color: #5e6282;
}
.about h5 {
  margin: 5px 0px 2px 0px;
  font-weight: 500;
  font-size: medium;
}
.about h3 {
  margin: 0px 0px 17px 0px;
}
.icon-soc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-links {
  width: 14%;
}
.icon-soc div {
  width: 8%;
}
.icon-soc div img {
  width: 400%;
}
.trip-progress-no {
  margin-top: 8px;
  display: inline;
  color: #9787e3;
}
.completion {
  display: inline;
  color: black;
}
.discover h3 {
  color: #5e6282;
  font-size: large;
  margin-bottom: 7px;
  margin-top: 10px;
  font-weight: 500;
  /* margin-left: px; */
}
.download {
  display: flex;
  justify-content: space-between;
}
.download img {
  width: 101%;
}

.rights {
  color: #5e6282;
  display: flex;
  font-size: smaller;
  font-weight: 500;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}
